@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery xToken
@model SignInViewModel
@{
    Layout = null;
}
@functions
{
    // generate antiforgery token
    public string ForgeryToken()
    {
        var token = xToken.GetAndStoreTokens(Context).RequestToken;
        return token;
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Assigna" />
    <!-- main css -->
    <link rel="stylesheet" type="text/css" asp-append-version="true" href="~/css/site.css" />
    <title>Sign In - Assigna</title>
</head>

<body>
    <main>
        <!-- sign in -->
        <section class="signin fr_center container">
            <div class="sig_content">
                <h3 class="section_tit">Assigna</h3>
                <div class="sig_types">
                    <!-- message -->
                    <div id="alert-message">
                        @if (TempData["alertMessage"] is not null)
                        {
                            <div class="alert al_error" role="alert">
                                <div class="al_content">
                                    <p id="al_message">@TempData["alertMessage"]</p>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="ex_signup">
                        <form method="post" asp-controller="account" asp-action="oauth" asp-route-provider="Google">
                            <button class="icon_button" role="button">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="25px" height="25px">
                                    <path fill="#FFC107"
                                        d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z" />
                                    <path fill="#FF3D00"
                                        d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z" />
                                    <path fill="#4CAF50"
                                        d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z" />
                                    <path fill="#1976D2"
                                        d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z" />
                                </svg>
                                Sign in with Google
                            </button>
                        </form>
                    </div>
                    <span class="separate">
                        <p>OR</p>
                    </span>
                    <div class="loc_signup">
                        <form id="signin" asp-action="#?" asp-antiforgery="true">
                            <div class="input_control">
                                <input type="text" id="user-name" role="textbox" asp-for="user_name"
                                    placeholder="Username">
                                <span class="val_msg"></span>
                            </div>
                            <div class="password">
                                <a asp-controller="account" asp-action="forgot-password" role="link">Forgot
                                    password?</a>
                                <div class="input_control">
                                    <input type="password" id="password" role="textbox" asp-for=" password"
                                        placeholder="Password">
                                    <span class="val_msg"></span>
                                </div>
                            </div>
                            <button type="submit" class="button" role="button">Sign In</button>
                        </form>
                    </div>
                </div>
                <div class="test_signin">
                    <p class="ts_title">Try a demo user</p>
                    <div class="ts_users">
                        <button class="button outline_button small_button team_lead" id="te-lead"
                            data-token="@ForgeryToken()">Team
                            Lead</button>
                        <button class="button outline_button small_button" id="te-member"
                            data-token="@ForgeryToken()">Team
                            Member</button>
                    </div>
                </div>
                <div class="help">
                    <span>
                        Create <a asp-action="signup" asp-controller="account" asp-route-type="@Roles.member"
                            role="link">
                            Team
                            Member
                        </a> or <a asp-action="signup" asp-controller="account" asp-route-type="@Roles.lead"
                            role="link">
                            Team
                            Lead
                        </a> account
                    </span>
                </div>
            </div>
        </section>
    </main>
    <!-- scripts -->
    <script type="module" src="~/js/test-login.js" asp-append-version="true"></script>
    <script type="module" src="~/js/signin.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>