@model TaskViewModel.NewTaskViewModel
@{
    ViewBag.Title = "Edit Tasks";
    var category = Model.Category.ToList();
    var users = Model.Users.ToList();
}

<!-- edit task -->
<section class="new_task section">
    <h3 class="section_tit">Edit Task</h3>
    <div class="task_form">
        <form id="task" asp-action="#?" asp-antiforgery="true" novalidate>
            <div class="input_control">
                <input type="hidden" asp-for="TskId">
                <input type="text" id="tsk-title" asp-for="TskTitle" role="textbox" placeholder="Task Title">
                <span class="val_msg"></span>
            </div>
            <div class="input_control">
                <div class="select" id="tsk-cate-parent">
                    <select id="tsk-category" required title="&nbsp;" role="combobox" asp-for="TskCategory">
                        <option value="@string.Empty" selected>Task Category</option>
                        @foreach (var item in category)
                        {
                            <option value="@item.CatId">@item.CatName</option>
                        }
                    </select>
                    <div class="select-arrow"></div>
                </div>
                <span id="val-category" class="val_msg"></span>
            </div>
            <div class="input_control">
                <div class="date" id="tsk-date-parent">
                    <small class="place_holder">Due Date</small>
                    <input type="date" id="tsk-date" required title="&nbsp;" max="9999-12-31" asp-for="Deadline">
                </div>
                <span class="val_msg"></span>
            </div>
            <div class="input_control pri_level">
                <div>
                    <label class="radio">
                        <input type="radio" role="radio" asp-for="Priority" value="High" checked>
                        High Priority
                    </label>
                </div>
                <div>
                    <label class="radio">
                        <input type="radio" role="radio" asp-for="Priority" value="Medium">
                        Medium Priority
                    </label>
                </div>
                <div>
                    <label class="radio">
                        <input type="radio" role="radio" asp-for="Priority" value="Low">
                        Low Priority
                    </label>
                </div>
            </div>
            <div class="input_control">
                <div class="select" id="tsk-assign-parent">
                    <select id="tsk-assign" required title="&nbsp;" role="combobox" asp-for="AssignTo">
                        <option value="@string.Empty" selected>Assign To</option>
                        @foreach (var item in users)
                        {
                            <option value="@item.UserId">@item.FirstName</option>
                        }
                    </select>
                    <div class="select-arrow"></div>
                </div>
                <span id="val-assign" class="val_msg"></span>
            </div>
            <div class="input_control task_note">
                <textarea id="tsk-note" rows="5" role="textbox" asp-for="TskNote" placeholder="Task Note"></textarea>
                <span class="val_msg"></span>
            </div>
            <div class="save-button">
                <button class="button" type="submit" role="button">Edit Task</button>
            </div>
        </form>
    </div>
</section>
@section scripts{
<!-- scripts -->
<script type="module" src="~/js/edit-task.js" asp-append-version="true"></script>
}
